host-suffix,iflytek.com,reject
host-suffix,code.iflytek.com,reject
host-suffix,feifan.iflytek.com,reject
host-suffix,soft.iflytek.com,reject
host-suffix,apple.com.cn,reject
host-suffix,icloud.com.cn,reject
host-suffix,qq.com,reject
host-suffix,qqmail.com,reject
host-suffix,qpic.cn,reject
host-suffix,tencent.com,reject
host-suffix,baidu.com,reject
host-suffix,bdstatic.com,reject
host-suffix,bytecdn.cn,reject
host-suffix,pstatp.com,reject
host-suffix,snssdk.com,reject
host-suffix,toutiao.com,reject
host-suffix,163.com,reject
host-suffix,126.net,reject
host-suffix,163yun.com,reject
host-suffix,sohu.com.cn,reject
host-suffix,itc.cn,reject
host-suffix,sohu.com,reject
host-suffix,v-56.com,reject
host-suffix,weibo.com,reject
host-suffix,weibo.cn,reject
host-suffix,jd.com,reject
host-suffix,jd.hk,reject
host-suffix,360buyimg.com,reject
host-suffix,duokan.com,reject
host-suffix,mi-img.com,reject
host-suffix,mifile.cn,reject
host-suffix,xiaomi.com,reject
host-suffix,alibaba.com,reject
host-suffix,alicdn.com,reject
host-suffix,amap.com,reject
host-suffix,dingtalk.com,reject
host-suffix,taobao.com,reject
host-suffix,tmall.com,reject
host-suffix,yinghuacd.com,reject
host-suffix,bf3.sbdm.cc,reject
host-suffix,bfikuncdn.com,reject
host-suffix,webmota.com,reject
host-suffix,wxsy.net,reject
host-suffix,amazon.cn,reject
host-suffix,coolapk.com,reject
host-suffix,pcbeta.com,reject
host-suffix,zuanke8.com,reject
host-suffix,eastmoney.com,reject
host-suffix,datetime360.com,reject
host-suffix,akadns.net,reject
host-suffix,ipip.net,reject
host-suffix,ip.cn,reject
host-suffix,ip.la,reject
host-suffix,ip-cdn.com,reject
host-suffix,ipv6-test.com,reject
host-suffix,test-ipv6.com,reject
host-suffix,whatismyip.com,reject
host-suffix,ip.bjango.com,reject
host-suffix,itmyhome.com,reject
host-suffix,csdn.net,reject
host-suffix,broadcasthe.net,reject
host-suffix,cailianpress.com,reject
host-suffix,chdbits.co,reject
host-suffix,chushou.tv,reject
host-suffix,cmbchina.com,reject
host-suffix,cmbimg.com,reject
host-suffix,cmct.tv,reject
host-suffix,cnlang.org,reject
host-suffix,douyu.com,reject
host-suffix,douyucdn.cn,reject
host-suffix,dxycdn.com,reject
host-suffix,hicloud.com,reject
host-suffix,hdchina.org,reject
host-suffix,hdcmct.org,reject
host-suffix,ithome.com,reject
host-suffix,meituan.net,reject
host-suffix,mobike.com,reject
host-suffix,smzdm.com,reject
host-suffix,teamviewer.com,reject
host-suffix,zhihu.com,reject
host-suffix,zhimg.com,reject
host-suffix,douban.com,reject