host-keyword,# GitHub 核心域名,reject
host-suffix,+.github.com,reject
host-suffix,+.github.io,reject
host-suffix,+.githubusercontent.com,reject
host-suffix,+.githubassets.com,reject
host-suffix,+.githubapp.com,reject
host-suffix,+.github.dev,reject
host-suffix,+.github.blog,reject
host-suffix,+.githubstatus.com,reject
host-suffix,+.git.io,reject
host-suffix,+.gist.github.com,reject
host-suffix,+.raw.githubusercontent.com,reject
host-suffix,+.objects.githubusercontent.com,reject
host-suffix,+.media.githubusercontent.com,reject
host-suffix,+.avatars.githubusercontent.com,reject
host-suffix,+.avatars0.githubusercontent.com,reject
host-suffix,+.avatars1.githubusercontent.com,reject
host-suffix,+.avatars2.githubusercontent.com,reject
host-suffix,+.avatars3.githubusercontent.com,reject
host-suffix,+.avatars4.githubusercontent.com,reject
host-suffix,+.avatars5.githubusercontent.com,reject
host-suffix,+.codeload.github.com,reject
host-suffix,+.api.github.com,reject
host-suffix,+.collector.github.com,reject
host-suffix,+.github.blog,reject
host-suffix,+.dependabot.com,reject
host-suffix,+.github.community,reject
host-suffix,+.github.dev,reject
host-suffix,+.copilot.github.com,reject
host-suffix,+.copilot-proxy.githubusercontent.com,reject
host-keyword,# ------,reject
host-suffix,translate.googleapis.com,reject
host-suffix,postman.com,reject
host-suffix,vuejs.org,reject
host-suffix,mozilla.org,reject
host-suffix,apache.org,reject
host-suffix,gitbook.com,reject
host-suffix,ghcr.io,reject
host-suffix,figma.com,reject
host-suffix,tailwindcss.com,reject
host-suffix,algolianet.com,reject
host-suffix,ckeditor.com,reject
host-suffix,codesandbox.io,reject
host-suffix,csb.app,reject
host-suffix,medium.com,reject
host-suffix,jsdelivr.net,reject
host-suffix,jsdelivr.com,reject
host-suffix,packagecontrol.io,reject
host-suffix,npmjs.com,reject
host-suffix,npmjs.org,reject
host-suffix,translate.googleapis.com,reject
host-suffix,postman.com,reject