host-suffix,googleapis.com,reject
host-suffix,gstatic.com,reject
host-suffix,antigravity.google,reject
host-suffix,gvt1.com,reject
host-suffix,cursor.sh,reject
host-suffix,cursor.com,reject
host-suffix,cursor-cdn.com,reject
host-suffix,api.workos.com,reject
host-suffix,stripe.com,reject
host-suffix,openai.com,reject
host-suffix,cdn.oaistatic.com,reject
host-suffix,oaiusercontent.com,reject
host-suffix,chatgpt.com,reject
host-suffix,imgur.com,reject
host-suffix,claude.ai,reject
host-suffix,anthropic.com,reject
host-suffix,intercom.io,reject
host-suffix,intercomcdn.com,reject
host-suffix,x.ai,reject
host-suffix,grok.com,reject
host-suffix,featureassets.org,reject
host-suffix,grokusercontent.com,reject
host-suffix,codeium.com,reject